* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: 100%;
    height: 100vh;

    background-color: #333;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
}

/* end reset */

header {
    background-color: #222;
    padding: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-size: 2.8em;
    font-weight: 200;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    margin-right: 1.3em;
    font-size: 1.5em;
}

header h1,
a {
    color: #8B658B;
    transition: 0.2s ease-in-out;
}

header a:hover {
    color: #fff;
}

/* end header */

footer {
    background-color: #222;
    padding: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer span {
    font-size: 0.8em;
    font-weight: 200;
}

/* end footer */

main {
    padding: 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .main-content {
    display: flex;
    flex-direction: column;
}

main .main-content h2 {
    margin-bottom: 2%;
    font-size: 2.2em;
}

main .main-content .text {
    margin-bottom: 10%;
}

main .main-content .text p {
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 1.6;
}

main .techs .cards-container {
    display: flex;
    align-items: center;
}

main .techs .cards-container .card {
    /* alt custom
    height: 120px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
    */
    cursor: pointer;
    transition: box-shadow 0.25s ease-in-out;
}

main .techs .cards-container .card:hover {
    box-shadow: 0px 0px 8px #1a1a1a;
}


main figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure img {
    width: 300px;
    height: 300px;
    border-radius: 200px;

    /* background-color: #2f2f2f;
     para fotos de perfil em png */

    margin-bottom: 6%;
    border: 1px #202020 solid;
    transition: box-shadow 0.25s ease-in-out;
}

main figure img:hover {
    cursor: none;
    box-shadow: 0px 0px 6px #1a1a1a;
}

/* end main */