@media (max-width: 1200px) {
    main {
        width: 100%;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-content {
        width: 100%;
        align-items: center;

        margin-bottom: 15%;
    }

    main .main-content .text,
    .techs {
        text-align: center;
    }

    main .main-content .text p {
        width: 100%;
        font-size: 0.9em;
    }

    main .techs .cards-container,
    .main-content .text p {
        margin-top: 32px;
    }

}

@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        text-align: center;
    }

    header h1 {
        font-size: 2em;
    }

    header nav a {
        margin-top: 24px;
    }

    header nav a {
        font-size: 1.3em;
    }

    main .techs .cards-container .card {
        width: 60px;
        height: 60px;

        margin-right: 0.9em;
        margin-left: 0.9em;
    }

    main .main-content .text h2,
    .main-content .techs h2 {
        font-size: 1.8em;
    }

    main figure img {
        width: 250px;
        height: 250px;
    }
}